$fuente-primaria: 'Roboto', sans-serif;
$color-fondo: #0d0923;
$color-fondo-formulario: #131028;
$color-borde: #30295a;
$color-borde-activo: #4f4a72;
$color-primario: #d1d42f;
$color-primario-deshabilitado: #434408;
