$font-family: 'Rubik', sans-serif;
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$color-fondo: #f3f5f7;
$color-muted: #707070;
$color-blanco-secundario: #f3f5f7;
$color-gris-oscuro: #2b2b2b;
$color-btn: #000;
$color-btn-hover: #199a28;
$color-btn-claro-secundario: #dfdfdf;
