@use 'variables';

.categorias {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	position: relative;
	top: -150px;
}

.categoria {
	min-height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	text-align: center;
	position: relative;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 1) 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;

		transition: 0.3s ease-out all;
		opacity: 1;
	}

	&:hover {
		&::after {
			opacity: 0.5;
		}
	}

	&__img {
		width: 100%;
		vertical-align: top;
		position: relative;
	}

	&__datos {
		position: absolute;
		bottom: 0;
		width: 100%;
		z-index: 1;
	}

	&__nombre {
		font-family: variables.$secondary-font-family;
		font-size: 34px;
		margin-bottom: 5px;
		text-shadow: variables.$text-shadow;
	}

	&__numero-fotos {
		font-size: 16px;
		margin-bottom: 20px;
		text-shadow: variables.$text-shadow;
	}
}
