@use 'variables';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: variables.$color-fondo;
	font-family: variables.$fuente-primaria;
	font-size: 16px;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.contenedor {
	position: relative;
	z-index: 1;
	width: 90%;
	max-width: 400px;
	height: 80vh;
	margin: auto;
	background: #000;
	border-radius: 20px;

	display: grid;
	grid-template-rows: auto 1fr auto;
}
