$fuente-primaria: 'Inter', sans-serif;
$color-fondo: #eeeeee;
$color-primario: #92a55d;
$color-primario-hover: #80934b;
$color-fecha: #9a9a9a;
$color-gris-claro: #eeeeee;
$color-gris-claro-hover: #dfdfdf;
$color-rojo: #f1441e;
$color-rojo-hover: #d13715;
$color-gris-oscuro: #3f3f3f;
$color-gris-oscuro-hover: #313131;
